{% load static %}
<footer class="footer">
  <ul id="footer-links">
    <li> <a href="https://www.facebook.com/gizmologists/?ref=br_rs" target="_blank">
      <img src="{% static 'img/footer-logos/facebook.png' %}" class="icon"/>
    </a> </li>
    <li> <a href="https://github.com/gizmologists" target="_blank">
      <img src="{% static 'img/footer-logos/github.png' %}" class="icon"/>
    </a></li>
  </ul>
  <span id="footer-meta">
    <p id="contact">
      gizmologists@gmail.com
    </p>
    <p id="copyright">
      Copyright &copy 2018 - Evan Typanski
    </p>
  </span>
</div>
