nav {
  grid-area: nav;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #232D4B;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: auto;
  top: 0; }

#toggle {
  float: right;
  cursor: pointer;
  padding: 10px 35px 25px 0px; }
  #toggle span,
  #toggle span:before,
  #toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #E57200;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #toggle span:before {
    top: -10px; }
  #toggle span:after {
    bottom: -10px; }

@media (min-width: 767px) {
  .nav-mobile {
    display: none; } }

#all-links {
  padding: 15px 50px 10px 0;
  margin: auto;
  width: 100%; }
  @media (min-width: 767px) {
    #all-links {
      display: flex;
      justify-content: left; } }

#navlinks {
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  flex: 0 0 100%;
  flex-wrap: wrap;
  list-style: none;
  justify-content: left; }
  @media (min-width: 767px) {
    #navlinks {
      display: flex;
      flex-direction: row; } }

.underlineable {
  margin: 10px 20px;
  display: inline-block;
  text-decoration: none; }
  .underlineable:link, .underlineable:visited {
    color: #F1F1EF; }
  .underlineable:hover {
    color: #DADADA; }
  .underlineable:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease; }
  .underlineable:hover:after {
    width: 100%;
    background: #E57200; }

.footer {
  grid-area: footer;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px dotted #DADADA;
  font-size: .8em; }

#footer-links {
  justify-content: center;
  padding-left: 0;
  padding-top: 15px;
  margin: 0;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  list-style: none; }
  @media (min-width: 767px) {
    #footer-links {
      float: right; } }
  #footer-links img {
    height: 32px; }
  #footer-links li {
    margin: 0 10px; }

#footer-meta {
  text-align: center; }
  @media (min-width: 767px) {
    #footer-meta {
      text-align: left;
      float: left; } }

body, html {
  margin: 0 !important;
  padding: 0;
  border: none;
  color: #666666;
  height: 100%;
  font-family: Serif; }

body {
  height: 100%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 767px) {
    body {
      display: grid;
      grid-template-areas: '. nav .' '. content .' '. footer .';
      grid-gap: 10px;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: auto 1fr auto; } }
  body a:link {
    color: #232D4B; }
  body a:visited {
    color: #232D4B; }

.content {
  grid-area: content;
  margin: 15px 0px; }

h2, h3, h4, h5 {
  color: #232D4B; }

h1 {
  border-bottom: 2px solid #F1F1EF;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: #EB5F0C; }

div, .content {
  padding: 15px; }

.title {
  font-family: Serif; }

.subtitle {
  font-family: Serif;
  font-style: italic; }

.exec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .exec .exec-member {
    border-radius: 10px;
    border: 2px solid #232D4B;
    box-shadow: 2px 4px #141E3C;
    margin: 10px 20px;
    width: 400px; }
  .exec .exec-image {
    border-bottom: 1px dotted #EB5F0C;
    padding: 15px; }
    .exec .exec-image img {
      width: 100%; }

#exec-title {
  text-align: center; }
