@import "sass/application";

.content {
  display: grid;
  grid-template-areas:
  'title title gears'
  'slideshow slideshow gears'
  'slideshow slideshow description';
  grid-template-columns: 1fr 1fr 1fr;
}

.title {
  grid-area: title;
  border-bottom: none!important;
  font-size: 1.5em;
}

#slideshow {
  grid-area: slideshow;
  img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

#gears {
  grid-area: gears;
}

#description {
  grid-area: description;
  border: 1px dotted $jefferson-blue;
  padding: $div-padding;
  border-radius: $div-radius;
}
