@import "sass/application";
@import "./pagination";

.project {
  border: 2px solid $jefferson-blue;
  box-shadow: 2px 4px $secondary-blue;
  border-radius: $div-radius;
  display: flex;
  flex-direction: column;
  @include respond-to(medium) {
    display: grid;
    grid-template-areas:
    'meta project-body';
    grid-template-columns: 1fr 2fr;
  }
}

.meta {
  grid-area: meta;
  border-bottom: 1px dotted $jefferson-blue;
  @include respond-to(medium) {
    height: 100%;
    border: none;
    border-right: 1px dotted $jefferson-blue;
  }
  .title {
    border-bottom: none;
  }
}

.project-body {
  grid-area: project-body;
  padding: $div-padding;
}

.post {
  border: 2px dotted $light-gray;
  border-radius: $div-radius;
  box-shadow: 3px 7px $medium-gray;
  margin-bottom: $div-padding;
  margin-top: $div-padding;
  .post-meta {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}
