<html>
  <head>
    {% load static %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'sass/projects/projects.scss' %}">
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <div class="content">
      <h1 class="title">Archived Projects</h1>
      <p class="dsecription">This is where all projects that have been completed end up.  Have a look at our past!</p>
      <ul>
      {% for project in projects %}
        <li> <a href="/projects/{{ project.slug }}/">{{ project }}</a></li>
      {% endfor %}
      </ul>
    </div>
    {% include 'components/footer.html' %}
  </body>
</html>

