{% extends 'base.html' %}

{% block head %}
  {% load static %}
  {% load sass_tags %}
  <link rel="stylesheet" href="{% sass_src 'sass/projects/projects.scss' %}">
{% endblock %}

{% block content %}
  <h1 class="title">{{ title }}</h1>
  <p class="description">{{ description }} </p>
  <ul class="projects-list">
  {% for project in projects %}
    <li> 
      <div class="project">
        <span class="meta">
          <h2><a href="/projects/{{ project.slug }}/">{{ project }}</a></h2>
          <h3>{{ project.start_date }}</h3>
        </span>
        <span class="project-summary"> {{ project.summary|safe }}</span>
      </div>
    </li>
  {% endfor %}
  </ul>
  {% if projects.has_other_pages %}
    <div class="pagination">
      {% if projects.has_previous %}
        <a href="?page={{ projects.previous_page_number }}">&laquo;</a>
      {% endif %}
      {% for page in projects.paginator.page_range %}
        {% if page == projects.number %} 
          <a href="?page={{ page }}" class="active">{{ page }}</a>
        {% else %}
          <a href="?page={{ page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
      {% if projects.has_next %}
        <a href="?page={{ projects.next_page_number }}">&raquo;</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
