<html>
  <head>
    {% load static %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'sass/projects/projects.scss' %}">
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <div class="content">
      <h1 class="title">{{ project.title }}</h1>
      <p> {{ project.summary|safe }}</p>

      {% for post in posts %}
      <div class="post-summary">
        <h2 class="post-title"> <a href="/projects/{{ project.slug }}/{{ post.slug }}">
            {{ post.title }}
          </a></h2>
        {{ post.content|safe }}
      </div>
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
          {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
          </span>

          {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>
    {% include 'components/footer.html' %}
  </body>
</html>

