{% extends 'base.html' %}
{% block head %}
  {% load static %}
  {% load sass_tags %}
  <link rel="stylesheet" href="{% sass_src 'sass/about.scss' %}">
{% endblock %}


{% block content %}
  <h1 class="title"> About </h1>
  <p> 
  The Gizmologists was created by students who were interested in gaining hands-on experience in an environment without competition.  We seek out students who are interested in designing small scale projects and learning the skills to put them to life.
  </p>
  <p> 
  We meet at the beginning of the fall semester in order to brainstorm ideas for the coming year.  The ideas with the most interest become projects for that year, led by students with experience.  Students may join different projects depending on their interest, skills, and ages.  Those ideas that do not make it one year may make it the next, as we tend to keep project ideas on record for future use, so definitely don't be discouraged if your ideas don't make it!  Send in your ideas and they may come to fruition.
  </p>
  <p>
  Our projects are mostly small scale mechatronics systems, blending mechanical engineering with electrical and software engineering.  Notable projects include "The Clock", Hoo time, and our escape room.  There are notable exceptions that are software oriented by nature, such as the LED cassette table, more one-off, such as the pumpkin carving light show, and by request, such as the specimen rotation device.  All of these projects ended up being successful in some way, helping students learn more about mechatronics and engage in fun projects along the way.
  </p>
  <p>
  The executive board for Gizmologists is as follows:
  </p>
  <ul>
    <li> President: Rachel Weeks - Fourth year - Aerospace Engineering major</li>
    <li> Vice president: Taylor Kramer - Third year - Electrical Engineering major</li>
    <li> Treasurer: Sydney Billmeyer - Fourth year - Mechanical Engineering major</li>
    <li> Webmaster: Evan Typanski - Third year - Computer Science major</li>
    <li> Secretary: Will Clark - Fourth year - Mechanical Engineering major</li>
    <li> Social Chair: Will Gunderson - Second year - Mechanical Engineering major</li>
  </ul>

  Note that this website was created summer of 2018, so any projects before that time did not have the luxury of this website to post on. 
{% endblock %}
