<html>
  <head>
    {% load static %}
    <title>Gizmologists at UVA</title>
    <link rel="apple-touch-icon" sizes="180x180" 
                                 href="{% static '/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" 
      href="{% static '/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" 
      href="{% static '/img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" 
      href="{% static '/img/favicons/site.webmanifest' %}">
    <link rel="mask-icon" 
      href="{% static '/img/favicons/safari-pinned-tab.svg' %}" color="5bbad5">
    <link rel="shortcut icon" 
      href="{% static '/img/favicons/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Gizmologists is a CIO at the University of Virginia focused on small scale engineering projects using mechatronics.  Welcoming to all majors and skill levels.">
    <meta name="keywords" content="CIO,UVA,club,engineering,gizmo,mechatronics,mechanical engineering,computer science,electrical engineering">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    {% endblock %}
    {% load static %}
    <script src="{% static 'javascript/jquery-3.3.1.min.js' %}"></script>
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    {% include 'components/footer.html' %}
  </body>
</html>

{% block js %}
{% endblock %}
