{% extends 'base.html' %}

{% block head %}
  {% load static %}
  {% load sass_tags %}
  <link rel="stylesheet" href="{% sass_src 'sass/home.scss' %}">
  <script src="{% static 'javascript/jquery-3.3.1.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="title"> <h1> Gizmologists </h1></div>
  <div id="slideshow"> 
    <img class="slide" src="{% static 'img/logo.png' %}" />
  </div>
  <div id="gears"> GEARS</div>
  <div id="description"> <p> Gizmologists is a great club that everyone should join.  It is wonderful in literally every way.  Help me.</div>
  </div>
{% endblock %}
