{% extends 'base.html' %}

{% block head %}
  {% load static %}
  {% load sass_tags %}
  <link rel="stylesheet" href="{% sass_src 'sass/home.scss' %}">
{% endblock %}

{% block content %}
  <div class="intro">
    <h1 class="title"> Gizmologists </h1>
    <h2 class="subtitle"> "We build stuff" </h2>
    <p class="description"> The Gizmologists are a small scale engineering club at the University of Virginia, focused on projects that foster learning and innovation.  If you're considering joining, go to our contact page and either email us or sign up for our mailing list.  We'll help you find a project to work on that fits your interests and skills.
  </div>
  <img class="logo" src="{% static 'img/logo.png' %}" />
{% endblock %}
