@import "sass/application";

.project {
  border: 3px solid $jefferson-blue;
  box-shadow: 3px 7px $secondary-blue;
  border-radius: $div-radius;
  display: flex;
  flex-direction: column;
  @include respond-to(medium) {
    display: grid;
    grid-template-areas:
    'meta project-body';
    grid-template-columns: 1fr 2fr;
  }
}

.meta {
  grid-area: meta;
  height: 100%;
  border-bottom: 1px dotted $jefferson-blue;
  @include respond-to(medium) {
    border: none;
    border-right: 1px dotted $jefferson-blue;
  }
  .title {
    border-bottom: none;
  }
}

.project-body {
  grid-area: project-body;
  padding: $div-padding;
}

.post {
  border: 2px dotted $light-gray;
  border-radius: $div-radius;
  box-shadow: 3px 7px;
  margin: $div-padding;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: left;

  .page-link {
    margin-right: 10px;
  }
}
