@import "sass/navbar";
@import "sass/footer";
@import "sass/colors";
@import "sass/vars";

body, html {
  // For some reason, the html is rendered with a style in the body tag
  // Thus, important is used to overwrite it
  margin:0!important;
  padding:0;
  border:none;
  color: $text-gray;
  height: 100%;
  font-family: $font-stack;
}

body {
  display: grid;
  grid-template-areas:
    '. nav .'
    '. content .'
    '. footer .';
  grid-gap: 10px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  a {
    &:link {
      color: $jefferson-blue;
    }
    &:visited {
      color: $jefferson-blue;
    }
  }
}

.content {
  grid-area: content;
  margin: 25px 0px;
}

// Make other headers blue
h2, h3, h4, h5 {
  color: $jefferson-blue;
}

// Put title specs in h1 so title can overwrite
h1 {
  border-bottom: 2px solid $light-gray;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: $secondary-orange;
}

div, .content {
  padding: $div-padding;
}

.title {
  font-family: $title-font-stack;
}

.subtitle {
  font-family: $subtitle-font-stack;
  font-style: italic;
}
