@import "sass/navbar";
@import "sass/footer";
@import "sass/colors";

body, html {
  margin:0;
  padding:0;
  border:none;
  color: $text-gray;
}

body {
  display: grid;
  grid-template-areas:
    '. nav .'
    '. content .'
    '. footer .';
  grid-gap: 10px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  a {
    &:link {
      color: $jefferson-blue;
    }
    &:visited {
      color: $jefferson-blue;
    }
  }
}

.content {
  grid-area: content;
  margin: 25px 0px;
  .title {
    border-bottom: 2px solid $light-gray;
    margin: 0;
    padding: 0;
    color: $secondary-orange;
  }
}
