@import "sass/colors";

.footer {
  grid-area: footer;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px dotted $medium-gray;
  font-size: .8em;
}

#footer-links {
  justify-content: center;
  padding-left: 0;
  padding-top: 15px;
  margin: 0;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  list-style: none;

  @include respond-to(small) {
    float: right;
  }

  img {
    height: 32px;
  }

  li {
    margin: 0 10px;
  }
}

#footer-meta {
  text-align: center;
  @include respond-to(small) {
    text-align: left;
    float: left;
  }
}

#footer-disclaimer {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0;
}

