@import "sass/colors";
@import "sass/vars";

$top-nav-padding: 15px;

// navbar
nav {
  grid-area: nav;
  border-bottom-left-radius: $div-radius;
  border-bottom-right-radius: $div-radius;
  background: $jefferson-blue;
  display: block;
  flex-direction: row-reverse;
  width: 100%;
  height: auto;
  top: 0;
}

.nav-mobile {
  width: 10%;
  float: right;
  #toggle {
    display: inline-block;
    float: right;
    cursor: pointer;
    padding: 10px 35px 25px 0px;
    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: $rotunda-orange;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
  }
}

@include respond-to(small) {
  .nav-mobile {
    display: none;
  }
}

#all-links {
  grid-area: navlinks;
  float: left;
  padding: $top-nav-padding 50px 10px 0;
  margin: auto;
  width: 50%;
  @include respond-to(small) {
    width: 100%;
    display: flex;
    justify-content: left;
  }
}

#navlinks {
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  flex: 0 0 100%;
  flex-wrap: wrap;
  list-style: none;
  justify-content: left;
  // We include this, but it doesn't work with the jquery considering
  // it forces a block display -> this is just used for the initial setting
  @include respond-to(small) {
    display: flex;
    flex-direction: row;
  }
}

.underlineable {
  margin: 10px 20px;
  &:link, &:visited {
    color: $light-gray;
  }
  &:hover {
      color: $medium-gray;
  }

  display: inline-block;


  text-decoration: none;
  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

  &:hover:after {
    width: 100%;
    background: $rotunda-orange;
  }
}
