@import "sass/colors";
$rad: 0.3cm;

// navbar
nav {
  grid-area: nav;
  border-bottom-left-radius: $rad;
  border-bottom-right-radius: $rad;
  background: $jefferson-blue;
  width: 100%;
  height: auto;
  top: 0;
}

#navlinks {
  padding: 15px 50px 10px 50px;
  margin: auto;
  display: flex;
  justify-content: left;
  flex: 0 0 100%;
  flex-wrap: wrap;
  list-style: none;
}

.underlineable {
  margin-right: 30px;  
  padding: 0px 15px;
  //background-color: #E57200;
  //border-radius: 1cm;
  // Make URL that slides left to right on hover
  a {
      padding: 0;
      margin: 0;
      &:link, &:visited {
        color: $light-gray;
      }
      &:hover {
          color: $medium-gray;
      }

    display: inline-block;


    text-decoration: none;
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
    }

    &:hover:after {
      width: 100%;
      background: $rotunda-orange;
    }
  }
}
