@import "sass/application";

$img-fr: 2fr;
$desc-fr: 3fr;

.exec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include respond-to(medium) {
    display: grid;
    grid-template-areas:
    'about about'
    'president vice-president'
    'treasurer webmaster'
    'secretary social-chair';
  }

  @include respond-to(very-large) {
    display: grid;
    grid-template-areas:
    'about about about'
    'president vice-president treasurer'
    'webmaster secretary social-chair';
  }

  .exec-member {
    border-radius: $div-radius;
    border: 2px solid $jefferson-blue;
    box-shadow: 2px 4px $secondary-blue;
    margin: 10px 20px;
    width: 400px;
  }

  .exec-image {
    img {
      // 370px
      width: 100%;
      border-radius: $div-radius;
    }
    height: 600px;
    border-bottom: 1px dotted $secondary-orange;
    padding: $div-padding;
  }
}

#exec-title {
  text-align: center;
}

#about {
  grid-area: about;
  padding: 0;
}

#president {
  grid-area: president;
}

#vice-president {
  grid-area: vice-president;
}

#treasurer {
  grid-area: treasurer;
}

#webmaster {
  grid-area: webmaster;
}

#secretary {
  grid-area: secretary;
}

#social-chair {
  grid-area: social-chair;
}
