@import "sass/application";
$max-form-height: 295px;
$space-between: .75em;

form {
  max-width: $small-screen;
  display: block;
  @include respond-to(small) {
    display: grid;
    grid-template-areas:
    'first-name-label last-name-label '
    'first-name      last-name'
    'comp-id-label major-label'
    'comp-id         major'
    'degree-program-label graduation-year-label'
    'degree-program  graduation-year'
    'submit .';
    grid-gap: $space-between;
    grid-template-columns: 1fr 1fr;
    max-height: $max-form-height;
  }
}

.first-name {
  grid-area: first-name;
  &.-label {
    grid-area: first-name-label;
  }
}

.last-name {
  grid-area: last-name;
}

.comp-id {
  grid-area: comp-id;
}

.major {
  grid-area: major;
}

.degree-program {
  grid-area: degree-program;
}

.graduation-year {
  grid-area: graduation-year;
}

input, select {
  -webkit-transition: border 0.1s ease-in-out;
  width: 100%;
  height: 3em;
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
  border-radius: $input-radius;
  border-style: solid;
  border-color: $medium_gray;
  &:focus {
    border-color: $jefferson_blue;
  }

  @include respond-to(small) {
    margin: 0;
  }
}

input {
  padding: $div-padding;
}

label {
  margin-bottom: 50px;
}

.submit {
  color: $light-gray;
  grid-area: submit;
  -webkit-transition: background 0.2s ease-in-out;
  background: $jefferson-blue;
  width: 100%;
  border: none;
  &:hover {
    background: $secondary-blue;
    cursor: pointer;
  }
}

.message {
  border: 2px solid $emergency-red;
  border-radius: $div-radius;
  padding: $div-padding;
  width: auto;
}

.field {
  margin-bottom: 20px;
  @include respond-to(small) {
    margin: 0;
  }
}
