@import "sass/application";

.content {
  display: flex;
  flex-wrap: wrap;
  @include respond-to(small) {
    display: grid;
    grid-template-areas:
    'logo title'
    'logo subtitle'
    'logo description'
    'logo .';
    grid-template-columns: 1fr 1fr;
  }
}

.title {
  grid-area: title;
  font-size: 3em;
}

.subtitle {
  grid-area: subtitle;
  font-size: 2em;
}

.description {
  grid-area: description;
}

.intro {
  border: 2px solid $jefferson-blue;
  box-shadow: 2px 4px $secondary-blue;
  border-radius: $div-radius;
  padding: $div-padding;
}

.logo {
  grid-area: logo;
  width: 70%;
  justify-content: center;
  margin: 20px auto;
}
